gym==0.26.2
pynput==1.7.7
opencv-python==4.9.0.80
numpy>=1.24.0,<2.0.0 # DOWNGRADE NUMPY FOR COMPATIBILITY WITH CV2 (has to be < 2.0.0)
zmq
#gymnasium==0.29.1

# einops>=0.7.0
# #lerobot>=0.4.0
transformers==4.51.3
# timm>=0.9.0
# torchdiffeq>=0.2.3
# hydra-core>=1.3.0
# omegaconf>=2.3.0
# wandb>=0.15.0
# tqdm>=4.65.0
# pyyaml>=6.0
# pyaudio
# moviepy
# depthai
# seaborn
# matplotlib
